        <div class="wrapper">
          <div class="container padded">
            <h3 class=text-center>You next trip</h3>
            <div class="row">
              <div class= "col-sm-4">
                <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.jpg');">
                  <a class="card-link" href="#"></a>
                  <div class="card-city">Paris</div>
                  <div class="card-description">City of love</div>
                  <div>
                    <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
                  </div>
                </div>
              </div>
              <div class= "col-sm-4">
                <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.jpeg');">
                  <a class="card-link" href="#"></a>
                  <div class="card-city">Paris</div>
                  <div class="card-description">City of love</div>
                  <div>
                    <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
                  </div>
                </div>
              </div>
              <div class= "col-sm-4">
                <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-london.jpeg');">
                  <a class="card-link" href="#"></a>
                  <div class="card-city">Paris</div>
                  <div class="card-description">City of love</div>
                  <div>
                    <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
