<div class="container">
          <div class="row text-center padded">
            <div class="col-xs-6 col-lg-3">
              <div class="explanation-icon">
                <img src="images/beer.png" alt="beer">
                <h2>Drink One.</h2>
                <p>Beer makes you strong.</p>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="explanation-icon">
                <img src="images/heart.png" alt="beer">
                <h2>Love.</h2>
                <p>Apparently it's a good thing.</p>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="explanation-icon">
                <img src="images/globe.png" alt="beer">
                <h2>Travel.</h2>
                <p>Have some beers also.</p>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="explanation-icon">
                <img src="images/dollar.png" alt="beer">
                <h2>Money.</h2>
                <p>Bwarf.</p>
              </div>
            </div>
          </div>
        </div>
