<div class="row text-center padded" id="newsletter">
    <h2>Get news from us</h2>
    <p>Leave us your mail and get news from us</p>
    <form class="form-inline">
      <input type="text" class="input-small form-control" placeholder="Email">
      <button type="submit" class="btn btn-primary">Suscribe</button>
    </form>

  </div>
